<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>A1 Questions</title>
</head>
<body>
  <form class="" action="" name="form" onsubmit="return checkform()" method='post'>
    <div>
      <div>
        <p>Billy has ... elephant as a pet<input class="w3-input w3-border" type="text" name="answer1" required></p>
      </div>
      <div>
        <p>Mandy is ... pretty girl<input class="w3-input w3-border" type="text" name="answer2" required></p>
      </div>
      <div>
        <p>I want ... newspaper<input class="w3-input w3-border" type="text" name="answer3" required></p>
      </div>
      <div>
        <p>Brook has ... old bike<input class="w3-input w3-border" type="text" name="answer4" required></p>
      </div>
      <div>
        <p>He's eating ... sandwich<input class="w3-input w3-border" type="text" name="answer5" required></p>
      </div>
      <div>
        <p>I am listening to ... English CD<input class="w3-input w3-border" type="text" name="answer6" required></p>
      </div>
      <div>
        <p>She has ... exercise book in her bag<input class="w3-input w3-border" type="text" name="answer7" required></p>
      </div>
      <div>
        <p>The dog is taking ... dump<input class="w3-input w3-border" type="text" name="answer8" required></p>
      </div>
      <div>
        <p>Andy is drinking ... glass of lemonade <input class="w3-input w3-border" type="text" name="answer9" required></p>
      </div>
      <div>
        <p>This driver is ... maniac<input class="w3-input w3-border" type="text" name="answer10" required></p>
      </div>

      <button type="submit">Submit</button> <input type="button" value="Cancel" onclick="window.location.href='/'" />
    </div>
  </form>
</body>
</html>