<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>A1 Questions(a/an)</title>
</head>
<body>
  <form class="" action="" name="form" onsubmit="return checkform()" method='post'>
    <div>
      <div>
        <p>Billy has <input class="w3-input w3-border" type="text" name="answer1" required> elephant as a pet</p>
      </div>
      <div>
        <p>Mandy is <input class="w3-input w3-border" type="text" name="answer2" required> pretty girl</p>
      </div>
      <div>
        <p>I want <input class="w3-input w3-border" type="text" name="answer3" required> newspaper</p>
      </div>
      <div>
        <p>Brook has <input class="w3-input w3-border" type="text" name="answer4" required> old bike</p>
      </div>
      <div>
        <p>He's eating <input class="w3-input w3-border" type="text" name="answer5" required> sandwich</p>
      </div>
      <div>
        <p>I am listening to <input class="w3-input w3-border" type="text" name="answer6" required> English CD</p>
      </div>
      <div>
        <p>She has <input class="w3-input w3-border" type="text" name="answer7" required> exercise book in her bag</p>
      </div>
      <div>
        <p>The dog is taking <input class="w3-input w3-border" type="text" name="answer8" required> dump</p>
      </div>
      <div>
        <p>Andy is drinking <input class="w3-input w3-border" type="text" name="answer9" required> glass of lemonade </p>
      </div>
      <div>
        <p>This driver is ... maniac<input class="w3-input w3-border" type="text" name="answer10" required></p>
      </div>

      <button type="submit">Submit</button> <input type="button" value="Cancel" onclick="window.location.href='/'" />
    </div>
  </form>
</body>
</html>