<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>A2 Questions</title>
</head>
<body>
  <form class="" action="" name="form" onsubmit="return checkform()" method='post'>
    <div>
      <div>
        <p>She's a <input class="w3-input w3-border" type="text" name="answer1" required> girl (pretty)</p>
      </div>
      <div>
        <p>He <input class="w3-input w3-border" type="text" name="answer2" required> has to go to school(quick)</p>
      </div>
      <div>
        <p>I am <input class="w3-input w3-border" type="text" name="answer3" required> sorry (terrible) </p>
      </div>
      <div>
        <p>You can <input class="w3-input w3-border" type="text" name="answer4" required> open this box(easy)</p>
      </div>
      <div>
        <p>It's a <input class="w3-input w3-border" type="text" name="answer5" required> day today(rain)</p>
      </div>
      <div>
        <p>He drives the car <input class="w3-input w3-border" type="text" name="answer6" required> (careful)</p>
      </div>
      <div>
        <p>The man shouts <input class="w3-input w3-border" type="text" name="answer7" required> (loud)</p>
      </div>
      <div>
        <p>Shakira is a <input class="w3-input w3-border" type="text" name="answer8" required> singer(good)</p>
      </div>
      <div>
        <p>the students are <input class="w3-input w3-border" type="text" name="answer9" required> taking their seats(quiet) </p>
      </div>
      <div>
        <p>She sings the song <input class="w3-input w3-border" type="text" name="answer10" required> (good)</p>
      </div>

      <button type="submit">Submit</button> <input type="button" value="Cancel" onclick="window.location.href='/'" />
    </div>
  </form>
</body>
</html>