<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>A2 Questions</title>
</head>
<body>
  <form class="" action="" name="form" onsubmit="return checkform()" method='post'>
    <div>
      <div>
        <p>She's a ... girl (pretty)<input class="w3-input w3-border" type="text" name="answer1" required></p>
      </div>
      <div>
        <p>He ... has to go to school(quick)<input class="w3-input w3-border" type="text" name="answer2" required></p>
      </div>
      <div>
        <p>I am ... sorry (terrible) <input class="w3-input w3-border" type="text" name="answer3" required></p>
      </div>
      <div>
        <p>You can ... open this box(easy)<input class="w3-input w3-border" type="text" name="answer4" required></p>
      </div>
      <div>
        <p>It's a ... day today(rain)<input class="w3-input w3-border" type="text" name="answer5" required></p>
      </div>
      <div>
        <p>He drives the car ... (careful)<input class="w3-input w3-border" type="text" name="answer6" required></p>
      </div>
      <div>
        <p>The man shouts ... (loud)<input class="w3-input w3-border" type="text" name="answer7" required></p>
      </div>
      <div>
        <p>Shakira is a ... singer(good)<input class="w3-input w3-border" type="text" name="answer8" required></p>
      </div>
      <div>
        <p>the students are ... taking their seats(quiet) <input class="w3-input w3-border" type="text" name="answer9" required></p>
      </div>
      <div>
        <p>She sings the song ... (good)<input class="w3-input w3-border" type="text" name="answer10" required></p>
      </div>

      <button type="submit">Submit</button> <input type="button" value="Cancel" onclick="window.location.href='/'" />
    </div>
  </form>
</body>
</html>